<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title id="header">
      INTELLECT
    </ion-title>
    <ion-buttons slot="end">
      <ion-label>New to Intellect ?</ion-label>
      <ion-button  [routerLink]="['/register']">signup</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

  <!-- <div>
    <div class="title">
      <ion-label  ><h1>INTELLECT</h1> </ion-label>
        <ion-buttons slot="end">
        <ion-button  [routerLink]="['/register']">Signup</ion-button>
      </ion-buttons>
     
      <ion-label>Easy.Secure.Share</ion-label>
    </div>
  </div> -->

  


 <form id="form">
  
   <ion-input placeholder="Username" [(ngModel)]="loguser.name" name="log"></ion-input>

   <ion-input type="password" placeholder="Password"  [(ngModel)]="loguser.password" name="password"></ion-input>
   <ion-buttons slot="end">
    <ion-button  [routerLink]="['/fpass']" color="blue">Forgot password?</ion-button>
  </ion-buttons>
   <ion-button expand="block" shape="round" color="dark" (click)="login()">Login</ion-button>

 </form> 
  <!-- <ion-item>
    <ion-label  position="floating">Username</ion-label>
    <ion-input type="text" name="username" [(ngModel)]="user.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  position="floating">Password</ion-label>
    <ion-input type="Password" name="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-button (click)="login()" [routerLink]="['/mainscreen']">Login</ion-button>
 

   -->


