ion-toolbar{
  
    #header{
        font-weight: 100;
        font: size 25px; 
        color:black;
        font-family:fantasy;
        font-style: italic;
    }
    ion-buttons{
        color:black;
        
    }
    #folder{
     padding-left: 50px;
     width: 50%;
     margin: 10% 0 10% 0;
     color:grey;
 
    }
}